@import url('assets/styles/global.css');

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

html, body {
  font-family: 'Poppins', 'sans-serif' !important;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  position: relative;
  line-height: 1.66em;
}

.hero-card-action {
  max-width: 100%;
  border-bottom: 1px solid var(--secondary-text-color);
  line-height: 1.8em;
}

.link-underline.small {
  /* width: 100%; */
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--white);
  transition: width 250ms ease-in-out;
  position: absolute; 
  bottom: -2px; 
  left: 0;
}

.hero-card-action:hover .link-underline.small {
  width: 100%;
}

.link-text {
  font-size: 18px;
}

/* Hero Section */

.hero-section {
  padding: 120px 0 60px 0px;
}

.hero-banner {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 28px;
  grid-auto-columns: 1fr;
  align-items: center;
}

.hero-header-section {
  align-self: start;
  max-width: 540px;
}

.primary-header {
  font-size: var(--primary-text-font-size);
  color: var(--white);
  font-weight: 700;
  line-height: 1.132;
}

.secondary-header{
  font-size: var(--text-secondaryfont-size);
  color: var(--primary-text-color);
  font-weight: 200;
}

.hero-cards {
  justify-self: end;
  max-width: 320px;
}

.hero-card-title h4 {
  margin-top: 18px;
  font-weight: 600;
  color: var(--white);
}

.hero-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid var(--border-text-color);
}

.secondary-text {
  color: var(--primary-text-color);
  line-height: 1.667em;
  margin-bottom: 28px;
}

.scroll-circle {
  background-color:#3498db;
  margin-top: 2rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.scroll-down {
  width: 25px;
  height: 25px;
  border: solid var(--white);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  animation: moveDown 4s infinite;
  position: relative;
  left: 26px;
  cursor: pointer;
}

@keyframes moveDown {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
  50% {
    transform: translateY(30px) rotate(45deg);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
}

.hero-card-content {
  text-align: left;
}

.hero-card-action {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
}

.link-text {
  grid-row: 1;
  grid-column: 1;
}

.arrow-icon{
  grid-row: 1;
  grid-column: 2;
  background-image: url('./assets/images/icons/arrow-right-short.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 2px;
  display: inline-block;
}

/* Social Icons */
.social-icons {
 display: flex;
 flex-direction: row;
 gap: 1rem;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 250ms ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.2);
}

/* About Me Section */

.about-me-section {
  padding: 60px 0;
}

.section-header h2{
  text-align: center;
  color: var(--white);
  font-weight: 600;
}

.about-me-features {
  margin:80px 0px;
}

.about-me-features-left, .about-me-features-right {
  justify-self: center;
}

.about-me-content {
  max-width: 620px;
  justify-self: center;
}

.about-me-feature {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 30px;
}

.feature-icon img {
  width: 40px;
  height: 40px;
}

.feature-content {
  max-width: 540px;
}

.feature-content h4 {
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
}

.feature-content p {
  color: var(--secondary-text-color);
  font-size: 18px;
  padding-top: 16px;
}

/* Features color css */

.feature-icon{
  /* border-radius: 50%; */
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-4px) rotate(-5deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  } 
  75% {
    transform: translateY(-4px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.feature-underline-wrapper {
  width: 100%;
  animation: grow 3s ease-in-out;
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#feature_1 .feature-underline-wrapper{
  border-bottom: 2px solid var(--feature-icon-color-one);
}

#feature_2 .feature-underline-wrapper{
  border-bottom: 2px solid var(--feature-icon-color-two);
}

#feature_3 .feature-underline-wrapper{
  border-bottom: 2px solid var(--feature-icon-color-three);
}

#feature_4 .feature-underline-wrapper{
  border-bottom: 2px solid var(--feature-icon-color-four);
}

#feature_1 .feature-icon {
  background-color: var(--feature-icon-color-one);
}

#feature_2 .feature-icon {
  background-color: var(--feature-icon-color-two);
}

#feature_3 .feature-icon {
  background-color: var(--feature-icon-color-three);
}

#feature_4 .feature-icon {
  background-color: var(--feature-icon-color-four);
}

/* Skills styles */

.skills-section {
  padding: 60px 0;
}

.skills-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 40px;
  padding:30px;
}

.skill-container-section {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 48px;
  border-radius: 10px;
}

.skill-container-section .container-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 23rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid var(--white);
  border-radius: 10px;
  align-items: center;
  max-width: 125px;
}

.container-header {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1rem;
}

.skill-icon img {
  width: 48px;
  height: 48px;
}

.skill-desc {
  text-align: center;
}

.skill-title {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
}

/* expereince section styles */
.expereince-section {
  padding: 120px 0 60px 0;
  background-color: var(--secondary-bg-color);
}

.experience-content {
  max-width: 68rem;
}

.exp-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 40px 20px;
  border-radius: 5px;
}

.exp-title > h4{
  font-size: 18px;
  color: var(--white);
  font-weight: 600 !important;
  text-align: left;
}

.org-link {
  color: var(--link-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.org-link-logo {
  margin: 0 5px;
}

.center-line > img {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  border-radius: 5px;
  height: 28px;
  width: 28px;
  background-color: var(--accent-color);
  align-self: center;
}

.center-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-line.left {
  height: 282px;
  border-right: 2px solid var(--white);
  justify-self: center;
  animation: glow 3s ease-in-out infinite;
}

.center-line.right {
  height: 261px;
  border-left: 2px solid var(--white);
  justify-self: right;
  padding-right: 41.75px;
  animation: glow 3s ease-in-out infinite;
}

.sub-text-exp {
  color: var(--secondary-text-color);
}

.exp-description > p {
  color: var(--white);
  padding: 0;
  text-align: left;
  margin: 0;
  font-size: 14px;
}

@-webkit-keyframes glow { 
  0% { border-color: var(--feature-icon-color-four); }
  50% { border-color:var(--feature-icon-color-three); }
  100% { border-color:var(--feature-icon-color-four); } 

} 
@keyframes glow { 
  0% { border-color: var(--feature-icon-color-four); }
  50% { border-color:var(--feature-icon-color-three); }
  100% { border-color:var(--feature-icon-color-four); } 
}

/* hobbies */

.hobbies-section {
  padding: 60px 0 60px 0;
}

.books-shelf, .projects-container{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
}

.projects-container {
  justify-content: center;
}

.projects-container .book-img-wrapper {
  width: 420px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  position: relative;
  z-index: 2;
  color: #000;
}

.projects-container .book-img-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 54, 0.3);
  z-index: 1;
  border-radius: 15px;
}

.bookmark {
  background-color: purple;
  max-width: 120px;
  margin: 5px;
  padding: 0 10px;
  border-radius: 10px;
  justify-self: end;
  color: white;
}

.book-img-wrapper{
  width: 240px;
  height: 360px;
  border-radius: 15px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.progress.hide {
  visibility: hidden;
}

.progress.show {
  visibility: visible;
}

.progress {
  height: 0.5vh;
}

.progress > input{
  height: inherit;
  width: 100%;
}

.book-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.book-title {
  color: var(--white);
}

.book-auth {
  color: var(--secondary-text-color);
}

.range{
  background-color: #3498db;
}

/* Projects section */

.projects-section {
  padding: 120px 0 60px 0;
}

.skill-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.skill-group > span {
  color:var(--white);
  background-color: #000;
  padding: 0 5px;
  border-radius: 10px;
}

.projects-container .book:hover {
  cursor: pointer;
}

.book-img-wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.projects-container .book-img-wrapper:hover::before{
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  background-image: url('./assets/images/icons/box-arrow-up-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}

/* Contact section */

.contact-section {
  padding: 120px 0 60px 0;
  background-color: var(--secondary-bg-color);
}

.contact-content {
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 48px;
  border-radius: 10px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  margin-bottom: 10px;
}

.contact-desc > h6 {
  color: var(--white);
}

.contact-img > img{
  color: var(--white);
  width: 24px;
  height: 24px;
}

.contact-desc > p {
  color: var(--secondary-text-color);
  margin: 0;
}

.contact-desc h6 a:hover {
  color: #3498db;
}

/* Menu styles */
.navbar-nav {
  justify-content: center !important;
}

.nav-link {
  color: var(--white);
}

.nav-link:hover{
  color: #3498db !important;
}

.navbar-nav .nav-link.active {
  color: #3498db !important;
}

#main_navbar {
  background-color: transparent !important;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

#main_navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  background-color: var(--bg-color) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10001;
}

#main_navbar.sticky .nav-link {
  color: #fff;
}

/* Fade in animation */

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}